@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: whitesmoke;
}

button:hover{
    background-color: whitesmoke;
}

main{
    display: flex;
    justify-content: space-around;
}